{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" [label]="label" [title]="title">
  </map-marker>

  <map-circle [center]="position" [radius]="50" [options]='circleOptions'>
  </map-circle>
  <map-circle [center]="position" [radius]="110" [options]='circleOptions2'>
  </map-circle>
  <button (click)="blue()">blue</button>
  <button (click)="green()">green</button>
  <button (click)="purple()">purple</button>
</google-map>